<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <title>Beer | Sven Latham</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
  <div class="container"><a href="https://www.svenlatham.com/">svenlatham.com</a> &gt; Beer</div>
  <main>
    <div class="container-fluid bg-dark">
      <div class="container py-3">

        <!-- add a basic GET form that filters by name, description, country (probably nl, be or uk), trappist (boolean) or strength (a numeric value between 0 and 12)
      -->
        <form action="." method="GET" name="search">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="name" placeholder="Name">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary">Filter</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container py-3">
      <div class="row">
        <!-- display the list of countries including the count down the left hand side -->
        <div class="col-md-2">
          <ul class="list-group">
            <!-- add a clear all flag -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href=".">Clear all filters </a>
            </li>
          </ul>

          <h3>Country</h3>
          <ul class="list-group">
            <!-- countries are stored as a list. the key gives us the country. the value gives us the count -->
            {% for country in countries %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <!-- if the country name is empty, put a plceholder -->
              {% if country.name == '' %}
                <a href="?country=">Unknown</a>
              {% else %}
                <a href="?country={{ country.code }}">{{ country.name }}</a>
              {% endif %}
              <span class="badge bg-primary rounded-pill">{{ country.count }}</span>
            </li>
            {% endfor %}
          </ul>
          <h3>Trappist</h3>
          <ul class="list-group">
            <!-- trappist are stored as a list. the key gives us the trappist value. the value gives us the count -->
            {% for trappist in trappists %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="?trappist={{ trappist.value }}">{{ trappist.name }}</a>
              <span class="badge bg-primary rounded-pill">{{ trappist.count }}</span>
            </li>
            {% endfor %}
          </ul>
          
        </div>
        <!-- display the list of beers in a grid -->
        <div class="col-md-10 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
          {% for beer in beers %}
          <div class="col">
            <div class="card h-100 shadow-sm">
              {% if beer.img %}
              <img src="/beer-thumbs/{{ beer.img }}" class="card-img-top" alt="">
              {% else %}
              <img src="/beer-thumbs/empty.jpg" class="card-img-top" alt="">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ beer.name }}</h5>
                <p class="card-text">{{ beer.description }}</p>
              </div>
              {% if beer.strength or beer.trappist or beer.country or beer.brewer %}
              <div class="card-footer">
                {% if beer.strength %}<div><strong>Strength</strong> {{ beer.strength }}</div>{% endif %}
                {% if beer.trappist %}<div><img src="/f/trappist.png" alt=""
                    style="width: 20.8px; height: 24px"> Trappist</div>{% endif %}
                {% if beer.brewer %}<div><strong>Brewer</strong> {{ beer.brewer }}</div>{% endif %}
                {% if beer.country %}<div><strong>Origin</strong> <img src="https://flagcdn.com/48x36/{{ beer.country }}.png"
              style="width: 24px; height: 18px;" alt=""> {{ get_country_name(lookup=beer.country) }}</div>{% endif %}
              </div>
              {% endif %}

            </div>
          </div>
          {% endfor %}

        </div>
      </div>

  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>
  <script>
    document.forms.search.addEventListener('change', event => {
      document.querySelector('form').submit();
    })
    // Ensure all fields are prepopulated from the query string
    document.addEventListener('DOMContentLoaded', event => {
      const urlParams = new URLSearchParams(window.location.search);
      const name = urlParams.get('name');
      const description = urlParams.get('description');
      const country = urlParams.get('country');
      const trappist = urlParams.get('trappist');
      const strength = urlParams.get('strength');
      document.querySelector('input[name="name"]').value = name;
      document.querySelector('input[name="description"]').value = description;
      document.querySelector('select[name="country"]').value = country;
      document.querySelector('select[name="trappist"]').value = trappist;
      document.querySelector('select[name="strength"]').value = strength;
    });
  </script>
</body>

</html>